@page
@model LoginModel

@{
    Layout = ""; 
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Giriş Yap / Kayıt Ol</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/favicon.ico" />
    <!--===============================================================================================-->
    @*<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">*@
    <link href="~/loginassets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    @*	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">*@
    <link href="~/loginassets/fonts/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    @*	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">*@
    <link href="~/loginassets/vendor/animate/animate.css" rel="stylesheet" />
    <!--===============================================================================================-->
    @*	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">*@
    <link href="~/loginassets/vendor/css-hamburgers/hamburgers.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    @*	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">*@
    <link href="~/loginassets/vendor/select2/select2.min.css" rel="stylesheet" />
    <!--===============================================================================================-->
    @*	<link rel="stylesheet" type="text/css" href="css/util.css">*@
    <link href="~/loginassets/css/util.css" rel="stylesheet" />
    @*	<link rel="stylesheet" type="text/css" href="css/main.css">*@
    <link href="~/loginassets/css/main.css" rel="stylesheet" />
    <!--===============================================================================================-->
</head>
<body>

    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100">
                <div class="login100-pic js-tilt" data-tilt>
                    <img src="~/images/temizlikLogin.jpg" />
                </div>

                <form class="login100-form validate-form" id="account" method="post">
                    <span class="login100-form-title">
                        E-Temizlik'e Giriş Yap
                    </span>

                    <div class="wrap-input100 validate-input" >
                        @*<input class="input100" type="text" name="Username" placeholder="E-Mail">*@
                        <input asp-for="Input.Email" class="input100" autocomplete="username" placeholder="E-Mail" aria-required="true" />
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="wrap-input100 validate-input" >
                         <input asp-for="Input.Password" class="input100" autocomplete="current-password" placeholder="Şifre" aria-required="true" />
                        @*<input class="input100" type="password" name="Password" placeholder="Şifre">*@
                        <span class="focus-input100"></span>
                        <span class="symbol-input100">
                            <i class="fa fa-lock" aria-hidden="true"></i>
                        </span>
                    </div>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn"id="login-submit">
                            Giriş Yap
                        </button>
                    </div>           
                  
                    <div class="text-center p-t-136">
                        <a class="txt2" href="/Identity/Account/Register">
                            Hesap Oluştur
                            <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>




    <!--===============================================================================================-->
    @*	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>*@
    <script src="~/loginassets/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    @*<script src="vendor/bootstrap/js/popper.js"></script>*@
    <script src="~/loginassets/vendor/bootstrap/js/popper.js"></script>
    @*	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>*@
    <script src="~/loginassets/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    @*	<script src="vendor/select2/select2.min.js"></script>*@
    <script src="~/loginassets/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    @*	<script src="vendor/tilt/tilt.jquery.min.js"></script>*@
    <script src="~/loginassets/vendor/tilt/tilt.jquery.min.js"></script>
    <script>
        $('.js-tilt').tilt({
            scale: 1.1
        })
    </script>
    <!--===============================================================================================-->
    @*	<script src="js/main.js"></script>*@
    <script src="~/loginassets/js/main.js"></script>

</body>
</html>


@*@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <h2>Use a local account to log in.</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to log in.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
*@